body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #c9cfcf;
  color: #333;
  margin: 0;
  padding: 0;
  direction: rtl;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/back.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
  transition: opacity 0.5s ease;
  z-index: -1; 
  display: block; 
}


/*  الرئيسية */
.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #eaefef;
}

ul {
  margin: 8px 0;
}
/* تنسيق حقل الإدخال */
#cityInput {
  width: 70%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  margin-right: 55px;
}
 /* تغيير التنسيق عند وجود خطأ في إدخال المدينة */
#cityInput.error {
  border-color: red; 
  background-color: #fce7e7; 
}
input:hover {
  border-color: #005f73;
  box-shadow: 0 0 5px #005f73;
}

input:focus {
  border-color: #007b7f;
}
/* تنسيق الأزرار */
button {
  padding: 12px 20px;
  background-color: #005f73;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #007b7f;
}
/* تنسيق رسالة التحميل */
#loading {
  display: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 20px;
}
/* تنسيق عنوان الفئات */
.category-title {
  margin-top: 40px;
  font-size: 22px;
  color: #001219;
  position: relative;
  border-bottom: 2px solid #ccc;
  padding-bottom: 6px;
}
/* تنسيق بطاقة الأماكن */
.card {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 16px auto;
  width: 100%;
  max-width: 800px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
}

/* تأثير تدرج اللون الجانبي في البطاقة */
.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: linear-gradient(to bottom, #005f73, #ff6ec4, #f39c12,#007b7f);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
/* تنسيق الرابط داخل البطاقة */
.card-content a {
  display: inline-block;
  margin-top: 8px;
  padding: 8px 14px;
  background-color: #005f73;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 15px;
  transition: background-color 0.3s ease;
}

.card-content a:hover {
  background-color: #007b7f;
}
/* تنسيق للشاشات */
@media (max-width: 600px) {
  #cityInput{
    width: 65%;
  }

  button {
    width: 12%;
    margin-top: 10px;
    padding: 12px 12px;
  }
  .category-title{
    margin-right: 10px;
  }
  .card{
    width: 80%;
  }
}

@media (max-width: 950px) {

  .card{
    width: 88%;
  }

}

